<main class="bg-orange-400 h-screen">
    <p class="text-center text-2xl p-10">Agregamos tu producto correctamente</p>
    <p class="text-center text-2xl p-10">Te llevaremos al carrito</p>
</main>
{{> footer}}
<script>
    setTimeout(() => {
        location.href ='/carrito'
    }, 1500);
</script>